<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>  <%= @semester.name %>
</p>

<p>
  <b>Nummer:</b>  <%= @semester.nummer %>
</p>


<p>
  <b>WS/SS?:</b>  <%= @semester.ssws %>
</p>
<p>
<%= render :partial =>'lvas/lva_semester', :collection=>@semester.lvas, :as=>:lva%>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
