<h1>Listing memberships</h1>

<table>
  <tr>
    <th>Fetprofile</th>
    <th>Gremium</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Typ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @memberships.each do |membership| %>
  <tr>
    <td><%= membership.fetprofile_id %></td>
    <td><%= membership.gremium_id %></td>
    <td><%= membership.start %></td>
    <td><%= membership.stop %></td>
    <td><%= membership.typ %></td>
    <td><%= link_to 'Show', membership %></td>
    <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
    <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Membership', new_membership_path %>
