<p id="notice"><%= notice %></p>

<p>
  <b>Fetprofile:</b>
  <%= @membership.fetprofile_id %>
</p>

<p>
  <b>Gremium:</b>
  <%= @membership.gremium_id %>
</p>

<p>
  <b>Start:</b>
  <%= @membership.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @membership.stop %>
</p>

<p>
  <b>Typ:</b>
  <%= @membership.typ %>
</p>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
