<%= fa_icon("calendar 2x") %>
<p id="notice"><%= notice %></p>

<%= semantic_form_for @meeting, :remote=>true, :html=>{:class=>""} do |f| %>

 <%= f.input :name  %>
 <%= f.input :meetingtyp  %>

 <%= f.semantic_fields_for :calentry, @meeting.calentry do |ff| %>
    <%= ff.input :start, :as => :datetimepicker  %>
    <%= ff.input :ende, :as => :datetimepicker  %>
        <%= ff.input :typ, :as=>:hidden %>
    <% ff.input :object_id, :as=>:hidden %>
    <% ff.input :object_type %>

 <% end %>

<%= f.input :parent_id, :as=>:hidden  %>
<%= f.input :parent_type, :as=>:hidden %>
 <%= f.action :submit, :as => :input_ %>
 
<% end %>

