
<div class="media"> 
  <div class="pull-left" href="#">
    <p><br><%= image_tag neuigkeit.picture.thumb.url  unless neuigkeit.picture.url.nil? %>
    </p>
  </div>
  <div class="media-body">
    <div>
      <small><%= ff_icon(neuigkeit.rubrik.icon) unless neuigkeit.rubrik.icon.nil? or neuigkeit.rubrik.icon.empty? %>&nbsp;<%= neuigkeit.rubrik.name %></small> 
     <% unless neuigkeit.has_calentries? %> <small class="pull-right"> <%= I18n.t("neuigkeit.am")+" "+ I18n.l(neuigkeit.try(:datum).try(:to_date)) unless neuigkeit.try(:datum).try(:to_date).nil?  %></small> <% end %>
    </div>
    <h1> 
      <%= neuigkeit.title%>
    </h1>
    <%= raw(neuigkeit.text_first_words) unless neuigkeit.text.nil?%>
  </div>
  <% if neuigkeit.has_calentries? %>
    <div class="pull-right" href="#">
      <%= fa_icon("calendar 2x")  %>
      <% unless neuigkeit.calentries.upcoming.empty? %>
      <%=  neuigkeit.calentries.upcoming.first.text %>
      <% else unless neuigkeit.calentries.recent.empty? %>
      <%=  neuigkeit.calentries.recent.first.text %>
      <% end %><% end %>
    </div>
    <% end %>

</div>
