
<div id="neuigkeit_<%=  neuigkeit_edit.id%>" class="contentbox" itemscope itemtype="http://schema.org/Article">
	<div id="toolBar" ></div>
  <%= semantic_form_for [@neuigkeit.rubrik,@neuigkeit] do |f| %>

  <meta itemprop="about" content="<%= @neuigkeit.text_first_words %>"/>
  <meta itemprop="sameAs" content="<%= neuigkeit_url(@neuigkeit,:theme=>nil)%>"/>
  <meta itemprop="url" content="<%= neuigkeit_url(@neuigkeit,:theme=>nil)%>"/>
  
  <div class="media">
	  <span itemprop="articleSection">
      <%= f.input :rubrik,  :as=> :select, :collection=>Rubrik.all,:class=> :selectpicker, :label=>false , :member_label=> :name %>

			<% ff_icon(@neuigkeit.rubrik.icon) unless @neuigkeit.rubrik.icon.nil? or @neuigkeit.rubrik.icon.empty? %>&nbsp;<% @neuigkeit.rubrik.name %>
    </span>
    <span class="pull-right">
			<span itemprop="author"><%= @neuigkeit.author.email.to_s unless @neuigkeit.try(:author).try(:email).to_s %> 
				<%= @neuigkeit.author.text %></span>
			<% unless @neuigkeit.try(:datum).try(:to_date).nil? %>
				<%= " "+ I18n.t("neuigkeit.am")+" " %><span itemprop="datePublished"><%= I18n.l(@neuigkeit.try(:datum).try(:to_date))   %>
				</span>
			<% end %>
  </div>
  <% unless @neuigkeit.published? %> 
    <div class="sticker sticker-red"> Not Published</div> 
	<% end %>
  <% unless @neuigkeit.origurl.nil? || @neuigkeit.origurl.empty? %>
		<div class="alert"><%= link_to "Zitiert von "+ @neuigkeit.origurl, @neuigkeit.origurl %>
		</div>    
  <% end %>
  <div class="media">
    <% unless @neuigkeit.picture_robust.big_thumb.to_s.empty? %>
			<div class="pull-left" href="#">
				<p><br><%= link_to image_tag(@neuigkeit.picture_robust.big_thumb.url),@neuigkeit.picture_robust.try(:url)  %>
				</p>
			</div>
    <% end %>
    <div class="media-body">
			<h1 itemprop="name" class="editable_simple" data-target="#neuigkeit_title">
				<%=  raw(@neuigkeit.title) %>
			</h1>
			<div itemprop="articleBody" class="editable" data-target="#neuigkeit_text">
				<%= raw(@neuigkeit.text) %>
			</div>
			<%= f.input :text, :as=> :hidden    %>
			<%= f.input :title, :as=> :hidden    %>
			
		</div>
  </div>

  <%= f.actions do %>
  <%= f.action :submit, :as => :input %>
  <% end %>

	<div class="fb-like" data-href"<%= rubrik_neuigkeit_url(@rubrik,@neuigkeit,{themes: nil, locale: nil})%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
	<% unless @neuigkeit.meeting.nil? %>
		<%= render @neuigkeit.meeting %>
	<% end%>		
	<% end%>	
	


	<%= render 'layouts/pretty_toolbar', :object=> @toolbar_elements %>
	
</div>
<%= tinymce :inline_div %>
<%= tinymce :inline_simple %>
<script>
$(function(){$('#toolBar').stick_in_parent();})
$('.selectpicker').selectpicker();
</script>
