<%= content_for :header do %>
<title>Fetsite - <%=  @neuigkeit.title %> (<%= @neuigkeit.rubrik.name %>)</title>
<% set_meta_tags :author => fetprofile_path(@neuigkeit.author.fetprofile) %>
<% set_meta_tags :og => {
    :image => @neuigkeit.picture.url.to_s,
    :title => @neuigkeit.title.to_s + " (" + @neuigkeit.rubrik.name.to_s + ")",
    :type => "article"
}
%>
<%= display_meta_tags %>
<% end %>

<%= render 'rubriken/tabs' %>
<div class="content-column content-wrap">
<p id="notice"><%= notice %></p>
<div class="contentbox">
<span>
  <%= ff_icon(@neuigkeit.rubrik.icon) unless @neuigkeit.rubrik.icon.nil? or @neuigkeit.rubrik.icon.empty? %>&nbsp;<%= @neuigkeit.rubrik.name %>
</span>
<span class="pull-right">
  <%= @neuigkeit.author.email.to_s unless @neuigkeit.try(:author).try(:email).to_s %> 
  <%= @neuigkeit.author.text+ " "+ I18n.t("neuigkeit.am")+" " + I18n.l(@neuigkeit.try(:datum).try(:to_date)) unless @neuigkeit.try(:datum).try(:to_date).nil?  %>
</span>
<div class="media">
  <div class="pull-left" href="#">
    <p><br><%= link_to image_tag(@neuigkeit.picture.big_thumb.url),@neuigkeit.picture.try(:url)  %>
    </p>
  </div>
  <div class="media-body">
    <h1>
      <%=  @neuigkeit.title%>
    </h1>
    <%= raw(@neuigkeit.text) %>
    <p></p>
  </div>
</div>
<% @calentries1.each do |ce|%>
<%= render ce unless ce.nil? %>
<% end %>
<%= render 'layouts/pretty_toolbar', :object=> @toolbar_elements %>
</div>
<%= render partial: 'nlink_list_whole', :object=>@neuigkeit.nlinks %>

<a id="findlink-open" href="#"> Neue Verknüpfungen </a>
<div id="findlink-body" style="background:white">
<% if can? :find_link, @neuigkeit %>
<%= semantic_form_for :find_link, :url=>find_link_rubrik_neuigkeit_path(@rubrik,@neuigkeit), :html=>{:id=>"search_form", :method=>'get'} , :remote=> true do |f| %>
<%= f.input :query, :input_html => { :name => 'query' },:label=>false %>
<% end %>
<%= render partial: 'nlink_list_search_whole', object: @nlink_search %>

<% end %>
</div>
<script>
$(function(){
  dialog = $( "#findlink-body" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Fertig": function() {
          dialog.dialog( "close" );
        }
      }
    });
  $("#findlink-open").on("click",function(){dialog.dialog("open")})
  });
</script>

</div>
