<%= render 'rubriken/tabs' %>
<p id="notice"><%= notice %></p>

<span>
  <%= @neuigkeit.rubrik.name %>
</span>
<span class="pull-right">
  <%= @neuigkeit.author.email.to_s unless @neuigkeit.try(:author).try(:email).to_s %> 
  <%= "am " + I18n.l(@neuigkeit.try(:datum).try(:to_date)) unless @neuigkeit.try(:datum).try(:to_date).nil?  %>
</span>
<div class="media">
  <div class="pull-left" href="#">
    <p><br><%= link_to image_tag(@neuigkeit.picture.big_thumb.url),@neuigkeit.picture.url  %>
    </p>
  </div>
  <div class="media-body">
    <h1><%= link_to @neuigkeit.title,rubrik_neuigkeit_path(@neuigkeit.rubrik,@neuigkeit)  %></h1>
    <%= raw(@neuigkeit.text) %>
    <p></p>
  </div>
</div>

<%= render 'layouts/pretty_toolbar', :object=> @toolbar_elements %>
