<div class="container-fluid">
<%= semantic_form_for @calentry do |f| %>
  <%= f.inputs do %>
 <div class="row-fluid">
 <div class="span6">
    <%= f.input :start , :as => :date_string %>
 </div>
 <div class="span6">
    <%= f.input :ende , :as => :date_string %>
 </div>   
 </div>
 <div class="row-fluid">  
 <div class="span12">
    <%= f.input :summary %>
 </div>
 </div>
 <div class="row-fluid">
 <div class="span6">
    <%= f.input :calendars, :as=> :radio %>
 </div>
 <div class="span6">
    <%= f.input :typ %>
 </div>
 </div>
  <% end %>
  <div class="row-fluid">
  <div class="span12">
  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
  </div>
  </div>
<% end %>
</div>
