<div class="container-fluid">
<%= semantic_form_for @calentry do |f| %>
  <%= f.inputs do %>
 <div class="row-fluid">
 <div class="span6">
    <%= f.input :start , :as => :datepicker, :append=>'sadf'  %>
 </div>
 <div class="span6">
    <%= f.input :ende , :as => :datepicker %>
 </div>   
 </div>
 <div class="row-fluid">  
 <div class="span12">
    <%= f.input :summary, :append=>'g' %>
 </div>
 </div>
 <div class="row-fluid">
 <div class="span6">
    <%= f.input :calendar, :as=> :radio %>
 </div>
 <div class="span6">
    <%= f.input :typ %>
 </div>
 </div>
  <% end %>
<script>$('.datepicker').datepicker() </script>
  <div class="row-fluid">
		
  <div class="span12">
  <%= f.actions do %>
    <%= f.action :submit, :as => :input_ %>
  <% end %>
  </div>
  </div>
<% end %>
</div>

