<p id="notice"><%= notice %></p>

      <h1><%= lva.typ_n.to_s + ' ' +  lva.name %></h1>
      <h2>Prüfungsinformation</h2>
      <div class="">
	<%= lva.pruefungsinformation.to_s.html_safe %>
      </div>
      <h2>Lernaufwand</h2>
      <div class="">
	<%= lva.lernaufwand %>
      </div>
      <h2>Beschreibung</h2>
      <div class="">
	<%= lva.desc.to_s.html_safe %>
      </div>


<p>
	<%= lva.lvanr %>
	<b><%= lva.name.to_s %> <%= lva.ects %> ECTS/ <%= lva.stunden %> Std</b>
</p>
<p>

</p>

