<tr>
  <td>
    <h4><%= %></h4>
    <%= f.semantic_errors :state %>
    <%= f.input :id, :as=>:hidden %>
  </td>
  
  <td><%= f.input :lvanr , :input_html => { "style"=>"width:7em" }%></td>
  <td><%= f.input :name %></td>
  <td>
    <%= f.input :ects, :input_html => { "style"=>"width:4em" },:size=>5 %>
    <%= f.input :stunden, :input_html => { "style"=>"width:4em" }%></td>
  <td><%= f.input :typ, :input_html => { "style"=>"width:4em" }%></td>
  <td>
    <% f.input :semester , :input_html=>{:style=>"height:8em"},:collection=>@semester%>
  </td>

  <td><%= f.input :pruefungsinformation,:input_html=>{:rows=>5} %></td>

  <td><%= f.input :desc, :input_html=>{:rows=>4}%></td>
</tr>
