<div class="container-fluid">
  <%= render 'studien/tabs'%>
  <p id="notice"><%= notice %></p>
  <div class="row-fluid">
    <div class="span8">
      <h1><%=@lva.typ.to_s + ' ' +  @lva.name %></h1>
      <h2>Prüfungsinformation</h2>
      <div class="lva-beschreibung">
	<%= @lva.pruefungsinformation %>
      </div>
      <h2>Lernaufwand</h2>
      <div class="lva-beschreibung">
	<%= @lva.lernaufwand %>
      </div>
      <h2>Beschreibung</h2>
      <div class="lva-beschreibung">
	<%= @lva.desc %>
      </div>
      <div class="row-fluid">
	<h2>Beispiele</h2>
  <p><h4>Beschreibung</h4>
  <%= @lva.desc %>

<%= link_to "Beispiel neu" , new_beispiel_path(:lva_id=>@lva.id) %>
</p>
<h4>Beispiele</h4>
<ul>
  <% @lva.beispiele.each do |b|%>

	  <%= render b%>
	<% end %>
      </div>
    </div>
    <div class="span4">
      <div class="lva-sidebar">
	<ul>
	  <li><b>LVA-Nummer:</b> <%=@lva.lvanr %></li>
	  <li><b>ECTS:</b> <%=@lva.ects %></li>
	  <li><b>Stunden:</b> <%=@lva.ects %></li>
	</ul>
	<h2>Module</h2>
	<ul>
	  <% @lva.modul.each do |modul| %>
	  <li><b><%= link_to modul.name , modul_path(modul)%></b>
	    <ul>
	      <% modul.modulgruppen.each do |g| %>

	      <li><%= link_to g.studium.title_context , studium_path(g.studium)%> (<%=link_to g.name, modulgruppe_path(g)%>)</li>
	      <% end %>
	    </ul>
	  </li>
	  
	  <% end %>
	</ul>
      </div>
    </div>
  </div>

  <%= render 'layouts/pretty_toolbar' %>
</div>
