<div class="container-fluid">
  <%= render 'studien/tabs'%>
  <p id="notice"><%= notice %></p>
  <div class="row-fluid">
    <div class="span8">
      <h1><%=@lva.typ.to_s + ' ' +  @lva.name %></h1>
      <h2>Prüfungsinformation</h2>
      <div class="">
	<%= @lva.pruefungsinformation %>
      </div>
      <h2>Lernaufwand</h2>
      <div class="">
	<%= @lva.lernaufwand %>
      </div>
      <h2>Beschreibung</h2>
      <div class="">
	<%= @lva.desc %>
      </div>
      <div class="row-fluid">
	<h2>Beispiele</h2>
	  <% @lva.beispiele.each do |b| %>
	    <%= render b%>

	  <% end %>

      </div>
    </div>
    <div class="span4">
      <div class="contentbox">
	<ul>
	  <li><b>LVA-Nummer:</b> <%=@lva.lvanr %></li>
	  <li><b>ECTS:</b> <%=@lva.ects %></li>
	  <li><b>Stunden:</b> <%=@lva.stunden %></li>
	</ul>
	<h2>Module</h2>
	<ul>
	  <% @lva.modul.each do |modul| %>
	  <li><b><%= link_to modul.name , modul_path(modul)%></b>
	    <ul>
	      <% modul.modulgruppen.each do |g| %>

	      <li><%= link_to g.studium.title_context , studium_path(g.studium)%> (<%=link_to g.name, modulgruppe_path(g)%>)</li>
	      <% end %>
	    </ul>
	  </li>
	  
	  <% end %>
	</ul>
      </div>
      <div class="contentbox">
	<h2> <%= I18n.t "lecturers.lecturers" %> </h2>
	<% @lva.lecturers.each do |lec| %>
	<%= render :partial=>'lecturers/lec_lva', :object=>lec %>

	<% end %>
      </div>
    </div>
  </div>

  <%= render 'layouts/pretty_toolbar' %>
</div>
