<% @lva.modul.each do |modul| %>
<% modul.modulgruppen.each do |g| %>
<ul class="breadcrumb">
<li><%= link_to g.studium.name , studium_path(g)%>
<span class="divider">/</span></li>
<li><%= link_to g.name , modulgruppe_path(g)%><span class="divider">/</span></li>
<li><%= link_to modul.name , modul_path(modul)%></li>
<% end %>
</ul>
<% end %>

<p id="notice"><%= notice %></p>
<p>
	<%= @lva.lvanr %>
	<b><%= @lva.name %> <%= @lva.ects %> ECTS/ <%= @lva.stunden %> Std</b>
	
</p>
<p>
  <%= @lva.desc %>
</p>

<%= toolbar_html(@toolbar_elements) %>
