<%= semantic_form_for @gremium do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :desc, :as=>:tinymce_text %>
    <%= f.input :typ, :as => :select, :collection => Gremium::TYPEN.invert %>
    <%= f.input :geschlecht, :as => :select, :collection => Gremium::GESCHLECHT.invert %>
    <%= f.input :thema, :as=> :select, :collection => Thema.all %>
    <% @memberships.each do |m| %>
    <%= f.semantic_fields_for :memberships, m do |memberships_attributes| %> 
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span11">
      <table>
	<tr><td><%= memberships_attributes.input :start, :as=>:datepicker, :prepend=>"von",:label=>false ,  :input_html => { :style => "width:6em" } ,:value=>Proc.new { |c| I18n.l(c) }%>
	  </td>
	  <td>
	    <%= memberships_attributes.input :stop, :as=>:datepicker,:label=>false, :prepend =>"bis" ,  :input_html => { :style => "width:6em"},:value_method=>Proc.new { |c| I18n.l(c) }%>
	  </td>
	  <td>
	    <%= memberships_attributes.input :typ ,:as=>:select, :collection=>Membership::TYPEN.invert, :label=>false,  :input_html => { :style => "width:12em" } %>
	  </td>
	  <td><%= memberships_attributes.input :fetprofile, :as=>:select, :label=>false %></td>
	</tr>
      </table>
    </div>  
    </div>   
   <% end %>
    <% end %>
    <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
	<%= f.action :submit, :as => :button, :label=>I18n.t("common.savecont"), :button_html=>{value: "continue"} %>
	<%= f.action :cancel, :as=> :link , :label=>I18n.t("common.cancel") %>

  <% end %>
<% end %>
  <script>$('.datepicker').datepicker()</script>
<%= tinymce %>






