<%= render 'fetprofiles/tabs' %>
<div class="content-wrap content-column">
<h1>Alle Gremien</h1>

<% unless params[:filter].nil? %>
<p><%= Gremium::TEXT[params[:filter]] %></p>
<% end %>

<ul class="unstyled fetprofile_list">

  <% @gremien.each do |g| %>
  <li>
    <%= link_to g do %>
    <h2><%= g.name %></h2>
    <p><%= g.desc.html_safe %></p>
    <% end %>
  </li>
<% end %>
</ul>
</div>
