<%= render 'fetprofiles/tabs' %>
<div class="content-wrap content-column">

<% if params[:filter].nil? %>
<h1>Alle Gremien</h1>
<% end %>


<% unless params[:filter].nil? %>
<h1><%= Gremium::FILTER[params[:filter].to_i] %></h1>

<p><%= Gremium::TEXT[params[:filter].to_i] %></p>
<% end %>

<ul class="unstyled fetprofile_list">

  <% @gremien.each do |g| %>
  <li>
    <%= link_to g do %>
    <h2><%= g.name %></h2>
    <% end %>
  </li>
<% end %>
</ul>
</div>
