<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gremium.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @gremium.desc %>
</p>

<p>
  <b>Typ:</b>
  <%= Gremium::TYPEN[@gremium.typ.to_i].to_s %>
</p>


<%= link_to 'Edit', edit_gremium_path(@gremium) %> |
<%=  link_to 'Back', gremien_path %>
