<p id="notice"><%= notice %></p>
<%= render 'fetprofiles/tabs' %>
<h1>
  <%= @gremium.name %>
</h1>
<p>
<%= @gremium.desc %>
</p>

<% @gremium.memberships.order(:typ).active.each do |m| %>
 <%= image_tag m.fetprofile.picture.portrait %>
 <%= m.fetprofile.name + " ist" + render(m) %> 
<% end %>
<p>
  <%= Gremium::TYPEN[@gremium.typ.to_i].to_s %>
</p>


<%= link_to 'Edit', edit_gremium_path(@gremium) %> |

