<h1>Listing gremien</h1>
<div class="container-fluid">
<% @gremien.each do |gremium| %>
  <div class="row-fluid">
    <div class="span2">
      <%= gremium.typ %>
    </div>
    <div class="span18">
      <b><%= gremium.name %></b>
      <%= gremium.desc %>
    </div>
    <div span="2">
      <%= link_to 'Show', gremium %>
      <%= link_to 'Edit', edit_gremium_path(gremium) %>
      <%= link_to 'Destroy', gremium, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
</div>





  <tr></td>
  </tr>

</table>

<br />
<%= render 'layouts/pretty_toolbar' %>
<%= link_to 'New Gremium', new_gremium_path %>
