<%= semantic_form_for @themengruppe do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :priority %>
    <%= f.input :public %>
    <%= f.input :picture, :as => :file %>
    <%= f.input :text %>
    <%= f.input :icon , :input_html=>{:id=>"iconfield"}%>
    <i id="icon"></i>
  <% end %>

  <%= f.actions do %>
   	<%= f.action :submit, :as => :input %>
	<%= f.action :cancel,:label => I18n.t("common.back"), :as => :link %>
  <% end %>
<% end %>
<script>
$(document).ready(function(){
$('#iconfield').on('change', function(){$('#icon').attr("class",$(this).val())})});
</script>

   
   <% ffi1_list.each do |i| %>
 <a onclick="$('#iconfield').val('ffi1-<%= i %>');$('#icon').attr('class','ffi1-<%= i %>')" href="#"><%=ffi1_icon(i)%>
</a>
<% end %> 
