<%= link_to themengruppe,{:class=>'linkbox color-1-dark'} do %>
      <div class="container-fluid">
<div class="row-fluid">
  <div class="span12">
    <div class="media">
      <span class="pull-left">
	<% if themengruppe.icon.nil? or themengruppe.icon.empty? %>
	<%= image_tag themengruppe.picture.thumb.url,{:class=>"img-rounded"} %>
	<% end %>

      </span>
      <div class="media-body">
	<h3>
	<% unless themengruppe.icon.nil? or themengruppe.icon.empty? %>      <i class="<%= themengruppe.icon %>" style="font-size:1.5em;margin:0"></i>
      <% end %>

<%=themengruppe.title%> </h3>
      </div>
    
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">

    <p>
      <%= 	if themengruppe.text.split.size > Themengruppe::WORD_COUNT
      themengruppe.text.split[0..Themengruppe::WORD_COUNT].join(" ") + " ..."
      else
      themengruppe.text
      end%>	
    </p>
  </div>

  <div class="span6">
    <!--<b><%= I18n.t("themengruppe.themen") %></b>
    --><ul>
      <% themengruppe.themen.where(" (NOT hidelink) and ( NOT isdraft) ").order(:priority).reverse.each do |t| %>
      <li>
	<%= render t %>
      </li>
      <% end %>
    </ul>
  </div>  



</div>
      </div>
<% end %>
