<div class="row-fluid">
	<div class="span2">
		<%= image_tag themengruppe.picture.thumb.url,{:class=>"img-circle"} %>
	</div>
	<div class="span10">
		 <h3><%=  link_to themengruppe.title, themengruppe %> </h3>
	</div>
</div>
<br/>
<div class="row-fluid">
	<div class="span12">
	<p>
	<%= 	if themengruppe.text.split.size > Themengruppe::WORD_COUNT
				themengruppe.text.split[0..Themengruppe::WORD_COUNT].join(" ") + " ..."
			else
				themengruppe.text
	end%>	
	</p>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<b><%= I18n.t("themengruppe.themen") %></b>
		<ul>
			<% themengruppe.themen.each do |t| %>
				<li>
				<%= render t %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

