<% @themengruppen.each do |tg| %>

<h2><%= tg.title%></h2>
<ul>
<% tg.themen.order(:priority).reverse.each do |t| %>
<li><a name="themengruppe_<%=t.id.to_s%>">  <%= t.title %> &nbsp;</a>



<ul>
<% t.fragen.each do |f| %>
<li><b> <%= f.title %></b><p> <%= f.text %></p></li>
<% end %>
</ul>

</li>
<% end %>
</ul>
<% end %>
