<% @themengruppen.each do |tg| %>
<a name="themengruppe_<%=tg.id.to_s%>">
<h2><%= tg.title%></h2></a>
<ul>
<% tg.themen.order(:priority).reverse.each do |t| %>
<li><%= t.title %>



<ul>
<% t.fragen.each do |f| %>
<li><b> <%= f.title %></b><p> <%= f.text %></p></li>
<% end %>
</ul>

</li>
<% end %>
</ul>
<% end %>
