<div class="content-wrap content-column">
<%= render :partial=>'layouts/pretty_toolbar' %>
<p>  <%= link_to "FAQS", faqs_themengruppen_path,class: :btn %></p>
<ul class="unstyled linkbox-list">
  <li>  
    <% @themengruppen.each do |themengruppe| %>
 
    
    
      <div class="container-fluid">
	<%= render themengruppe %>
	<br/>
	<div class="row-fluid">
	  <!--
	  <%= link_to 'Edit', edit_themengruppe_path(themengruppe) %>
	  -->
	</div>
      </div>
    
    
  <% end %>
  </li>
</ul>

<br/>
</div>
<script class="hidden-phone">

<!-- make_equal_height();
-->
</script>


<!--
<%= link_to 'New Themengruppe', new_themengruppe_path %>
-->
