<%= content_for :header do %>
<title><%= "Fetsite - "+I18n.t('home.info') %></title>
<% set_meta_tags :og => {
:title => "Fetsite - "+I18n.t('home.info'),
:url=> themengruppen_path(:theme=>nil)
}
%>
<%= display_meta_tags %>
<% end %>


<div class="content-wrap content-column">
  <%= render :partial=>'layouts/pretty_toolbar' %>
  <ul class="linklist">
    <li>
      <%= link_to fa_icon("question")+ I18n.t("themengruppe.faqs"), faqs_themengruppen_path,class: :linkbox %>
    </li>
  </ul>
</p>
<ul class="unstyled linkbox-list">
    <% @themengruppen.each do |themengruppe| %>
  <li>  

    <%= render themengruppe if can?(:show,themengruppe)%>

  </li>
    <% end %>
</ul>

<br/>
</div>

<script class="hidden-phone">
  
<!-- make_equal_height();
-->
</script>


<!--
<%= link_to 'New Themengruppe', new_themengruppe_path %>
-->
