<h1>Listing themengruppen</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @themengruppen.each do |themengruppe| %>
  <tr>
    <td><%= themengruppe.title %></td>
    <td><%= themengruppe.text %></td>
    <td><%= link_to 'Show', themengruppe %></td>
    <td><%= link_to 'Edit', edit_themengruppe_path(themengruppe) %></td>
    <td><%= link_to 'Destroy', themengruppe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Themengruppe', new_themengruppe_path %>
