<div class="content-wrap content-column" >
  <ul class="linklist">
<% if @themengruppe.public %>
<li>  <%= link_to fa_icon("arrow-circle-left 2x")+I18n.t("themengruppe.showall"), themengruppen_path, :class=>"linkbox" %></li>
<% else %>
<li>  <%= link_to fa_icon("arrow-circle-left 2x")+I18n.t("common.intern"), intern_home_index_path, :class=>"linkbox" %></li>
<% end %>
  <li><%= link_to fa_icon("question 2x")+ I18n.t("themengruppe.faqs"), faqs_themengruppen_path(:anchor=>"themengruppe_"+@themengruppe.id.to_s), :class=>"linkbox" %>
</li>
</ul>
  <%= render :partial=>'layouts/pretty_toolbar' %>

  <h1>	<% unless @themengruppe.icon.nil? or @themengruppe.icon.empty? %>      <i class="<%= @themengruppe.icon %>" style="font-size:1.5em;margin:0"></i>
      <% end %>
<%= @themengruppe.title %></h1>

  <p>
    <%= @themengruppe.text %>
  </p>
  <ul class="unstyled linkbox-list" >
    <% @themen.each do |thema| %>
    <li>
      <div class="contentbox">	
	<%= render :partial => 'themen/small', :object => thema %>
	<ul class="unstyled">
	  <% unless thema.gremium.nil? %>
	  <li>
	    <%= link_to fa_icon("users 2x")+thema.gremium.name , thema.gremium,:class=>"linkbox" %>
	  </li>
	  <% end %>		
	  
	  <% thema.nlinks.each do |l| %> 
	  <li>
	    <%= render l.neuigkeit if can? :show, l.neuigkeit%>
	  </li>
	  <% end %>

	</ul>
      </div>
    </li>
    <% end %>
  </ul>

</div>
