<div class="content-wrap content-column" >
<h2>sdffs</h2>
<h1><%= @themengruppe.title %></h1>
<p>
  <%= @themengruppe.text %>
</p>
<ul class="unstyled linkbox-list" >
  <% @themengruppe.themen.each do |thema| %>
  <li>
    <div class="contentbox">		  
      <a name="<%=thema.id%>" href="#<%=thema.id%>">
	<h2><%= thema.title %></h2>
      </a>
      <% unless thema.gremium.nil? %>
      <p>
	<%= link_to "Zu dem Gremium ..." , thema.gremium %>
      </p>
      <% end %>		
      <%= render :partial => 'themen/small', :object => thema %>
      <% thema.nlinks.each do |l| %> 
      <%= render l.neuigkeit %>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>

<%= render :partial=>'layouts/pretty_toolbar' %>
</div>
