<div class="modulgruppe_phase_<%= modulgruppe.phase %>">
<h2><%=  link_to modulgruppe.name, modulgruppe_path(modulgruppe) %><%= link_to image_tag('edit.png').html_safe+"Edit", edit_modulgruppe_path(modulgruppe),:class=>"btn" %></h2> 
<%= modulgruppe.desc%>

<%= render :partial=>'moduls/kurz', :collection=>modulgruppe.moduls, :as=>:modul%>
<br>
</div>

