</ul><p id="notice"><%= notice %></p>
<h1>
  <%= @modulgruppe.name %>
</h1>
<p>
 <!-- <b><%= link_to "Studium: "+@modulgruppe.studium.name, studium_path(@modulgruppe.studium) %></b>-->
  
</p><p>
  <b><%= I18n.t "modulgruppe.typ"%>:</b>
  <%= @modulgruppe.typ %>
</p>


<% @modulgruppe.moduls.each do |modul| %>
<%= render 'moduls/kurz', :modul=>modul%>
<% end %>

	 
<span class="label"><%= I18n.t("common.actions")%></span>
   <div class="btn-group">
<%= link_to '<i class="icon-plus-sign"></i>'.html_safe+I18n.t("modulgruppe.addmodul"), new_modul_path(:modulgruppen_id =>@modulgruppe.id),:class =>"btn"   %> 
<%= link_to I18n.t("modulgruppe.studium"), studium_path(@modulgruppe.studium),:class =>"btn" %> 
<%= link_to I18n.t("common.edit"), edit_modulgruppe_path(@modulgruppe),:class =>"btn" %> 
<%= link_to I18n.t("common.delete"),[@modulgruppe], :method=>:delete , :data=>{:confirm=>I18n.t("common.sure")} ,:class=>"btn" %>
</div>
