<ul class="breadcrumb">
<li>
<%= link_to "Admin" , :controller =>"config" , :action => "index"%>
</li>
</ul>
<table class="table table-striped">
<% @users.each do |user|%>
<tr><th>E-Mail</th><th>Rollen</th><th>Actions</th>
</tr><tr>
<td>
	<%= user.email %></td><td><ul>
	<% user.roles.each do |role| %>
	<li><%= role.name%></li>
<% end %></ul></td>
<td>
<ul>
<li><%= link_to 'MK fetadmin', user_add_role_path(user, "fetadmin")%></li>
<li><%= link_to 'MK fetuser', user_add_role_path(user, "fetuser")%></li>
<li><%= link_to 'doconfirm', user_do_confirm_path(user)%></li>
</ul>
</td>
</tr><% end %>
</table>
