<div class="contentbox">
  <div class="row-fluid">
    <div class="span6">
      <h4 style="margin:5px;"><%= I18n.t("home.newexamples") %></h4>
    </div>
    <div class="span6">
      <%= link_to I18n.t("beispiel.add"), new_beispiel_path, :class=>"linkbox"%>
    </div>
  </div>
  <ul class="unstyled linkbox-list" style="margin-top:5px;margin-bottom:5px;">
    <% @beispiele.each do |b| %>
    <li>
      <%= link_to b.lva, {:class=> :linkbox} do %>
      <div class="row-fluid">
	<div class="span8" style="word-wrap:break-word;">
	  <b><%=b.name%></b><br> (<%=b.lva.full_name%>)
	</div>
	<div class="span4">
	  <%= b.updated_at.to_s%>
	</div>
      </div>
      <%end%>
    </li>
    <% end %>
  </ul>
</div>


