<h1><%= I18n.t('home.willkommen') %></h1>
<div class="alert">
<h2>Beta Test</h2>
<p>Die Webseite befindet sich derzeit in einem Entsicklungsstadium,
volle Funktionsf채higkeit ist noch nicht erreicht. Bitte Featurerequests und
Fehlermeldungen auf GitHub melden.
</p>
<p>
<%= link_to "Issues", "http://www.github.com/fetsite/fetsite/issues" %>
</p>
<p>
Bez체glich Design und Steuerung sind Vorschl채ge erw체nscht.
</p>
<p><%= link_to "Steuerelemente und Komponenten", "http://getbootst<rap.com/2.3.2/index.html" %></p>
<p>Um bei der Entwicklung mitzuhelfen braucht nur Ruby on Rails installiert werden</p>
<p><%= link_to "Getting Started" , home_startdev_path%></p>
</div>
<p><%= I18n.t('home.hallobeiderfet') %></p>
<%= render 'beispiele' %>
<%= link_to "Entwicklungsstatus" , home_dev_path %>
<%= render 'layouts/login' %>
