<h1><%= t 'home.willkommen' %></h1>
<div class="alert alert-info">
<h2>Alpha Test</h2>
<p>Die Webseite befindet sich derzeit in einem Entsicklungsstadium,
volle Funktionsf채higkeit ist noch nicht erreicht. Bitte Featurerequests und
Fehlermeldungen auf GitHub melden.
</p>
<p>
<%= link_to "Issues", "http://www.github.com/fetsite/fetsite/issues" %>
</p>
<p>
Folgene Features sind schon soweit, dass Bugreports sinnvoll sind:
<ul>
<li>Studien/Beispielsammlung</li>
</ul>
alle anderen sind nur zur Voransicht. Bez체glich Design und Steuerung sind Vorschl채ge erw체nscht.
</p>
<p><%= link_to "Steuerelemente und Komponenten", "http://getbootstrap.com/2.3.2/index.html" %></p>
</div>
<p><%= t 'home.hallobeiderfet' %></p>
<%= link_to "Entwicklungsstatus" , home_dev_path %>
