<div class="content-wrap content-column">
  <h1><%= I18n.t('home.willkommen') %></h1></p>
      <ul class="unstyled linkbox-list" style="max-width:70em">
	<% @neuigkeiten.each do |n| %>
	<li><%= render n if can?(:show, n) %> </li>
	<% end %>
      </ul>
<p><i class="ffi1-bar1 ffi1"></i>
<%= link_to I18n.t('home.login'), user_omniauth_authorize_path(:ldap) %>
</p>
  <div class="alert">
    <h2>Beta Test</h2>
    <p>Die Webseite befindet sich derzeit in einem Entwicklungsstadium,
      volle Funktionsf채higkeit ist noch nicht erreicht. Bitte Featurerequests und
      Fehlermeldungen auf GitHub melden.
    </p>
    <p>
      <%= link_to "Issues", "http://www.github.com/fetsite/fetsite/issues" %>
    </p>
    <p>
      Bez체glich Design und Steuerung sind Vorschl채ge erw체nscht.
    </p>
    <p><%= link_to "Steuerelemente und Komponenten", "http://getbootstrap.com/2.3.2/index.html" %></p>
    <p>Um bei der Entwicklung mitzuhelfen braucht nur Ruby on Rails installiert werden</p>
    <p><%= link_to "Getting Started" , startdev_home_index_path %></p>
  </div>
  <%= link_to "Entwicklungsstatus" , dev_home_index_path %>
  <%= render 'beispiele' %>

<%= I18n.t("home.selectstyle") %>
<ul>
<li> <%= link_to "Darkblue", home_index_path({:theme=>"darkblue"}) %></li>
<li> <%= link_to "Blue1", home_index_path({:theme=>"blue1"}) %></li>

<li> <%= link_to "2003", home_index_path({:theme=>"2003"}) %></li>
<li> <%= link_to "white_1", home_index_path({:theme=>"white_1"}) %></li>
</ul>
</div>

