<div class="content-wrap content-column">
  <h1><%= I18n.t('home.willkommen') %></h1>
  <div class="alert">
    <h2>Beta Test</h2>
    <p>Die Webseite befindet sich derzeit in einem Entsicklungsstadium,
      volle Funktionsfähigkeit ist noch nicht erreicht. Bitte Featurerequests und
      Fehlermeldungen auf GitHub melden.
    </p>
    <p>
      <%= link_to "Issues", "http://www.github.com/fetsite/fetsite/issues" %>
    </p>
    <p>
      Bezüglich Design und Steuerung sind Vorschläge erwünscht.
    </p>
    <p><%= link_to "Steuerelemente und Komponenten", "http://getbootstrap.com/2.3.2/index.html" %></p>
    <p>Um bei der Entwicklung mitzuhelfen braucht nur Ruby on Rails installiert werden</p>
    <p><%= link_to "Getting Started" , home_startdev_path%></p>
    <p> Das Kalender Feature wird überarbeitet, in Zukunft soll folgender Link nicht mehr funktionieren 	  <%= link_to "Kalender", calendars_path %>
    </p>

  </div>
  <p><%= I18n.t('home.hallobeiderfet') %></p>
  <%= link_to "Entwicklungsstatus" , home_dev_path %>
  <%= render 'beispiele' %>

Verschiedene Styles
<ul>
<li> <%= link_to "Darkblue", home_index_path({:theme=>"darkblue"}) %></li>
<li> <%= link_to "Blue1", home_index_path({:theme=>"blue1"}) %></li>

<li> <%= link_to "2003", home_index_path({:theme=>"2003"}) %></li>
<li> <%= link_to "white_1", home_index_path({:theme=>"white_1"}) %></li>
</ul>
</div>

