Vorhandene Resourcen
<ul>
<li><%= link_to "galleries", galleries_path %></li>
<li><%= link_to "fotos", fotos_path %></li>
<li><%= link_to "gremien", gremien_path %></li>
<li><%= link_to "fetprofiles", fetprofiles_path %></li>
<li><%= link_to "memberships", memberships_path %></li>
</ul>
