<div class="content-wrap content-column">
<div>
<%= semantic_form_for :search,:remote=>true, :url=>search_home_index_path, :html=>{:id=>"search_form",:class=>"", :method=>'get'} do |f| %>
<%= f.input :query, :input_html => { :name => 'query' } , :label=>false, :class=>"search-query" %>
    <%= f.actions do %>
      <%= f.action :submit, :as => :input %>
    <% end %>

<% end %>


<div id="searchresults">
<%= render :partial=>"home/search_results" %>
</div>
</div>
