
<ul>
<% @themengruppen.each do |tg| %>
<li><%= tg.title %>
<ul class="fa-ul">
<% tg.themen.each do |t| %>
<li><%= link_to fa_icon("folder-open li")+ t.title, t %>
<ul class="fa-ul">
<% t.attachments.each do |a| %>
<li><%= fa_icon("file li")+a.name %></li>
<% end %>
<% t.documents.each do |d| %>
<li><%= link_to fa_icon("li file-text-o")+d.name, d %>
<ul class="fa-ul">
<% d.attachments.each do |a| %>
<li><%= fa_icon("file li")+a.name %></li>
<% end %>
</ul>
</li>
<% end %>


<% t.nlinks.each do |n| %>
<li><%= link_to fa_icon("li newspaper-o")+n.neuigkeit.name, neuigkeit_path(n) %>
<ul class="fa-ul">
<% n.neuigkeit.attachments.each do |a| %>
<li><%= fa_icon("file li")+a.name %></li>
<% end %>
</ul>
</li>
<% end %>


<% t.meetings.each do |m| %>
<li><%= fa_icon("group li")+m.text %> 
<ul class="fa-ul">
<% d = m.agenda %>
<% unless d.nil? %>
<li><%= fa_icon("li file-text-o")+d.name %>
<ul class="fa-ul">
<% d.attachments.each do |a| %>
<li><%= fa_icon("file li")+a.name %></li>
<% end %>
</ul>
</li>
<% end %>
<% d = m.protocol %>
<% unless d.nil? %>
<li><%= fa_icon("li file-text-o")+d.name %>
<ul class="fa-ul">
<% d.attachments.each do |a| %>
<li><%= fa_icon("file li")+a.name %></li>
<% end %>
</ul>
</li>
<% end %>

</ul>

</li>
<% end %>


</ul>
</li>
<% end %></ul>
 </li>
<% end %>
</ul>
