<div class="container-fluid">
  <%= tinymce_assets %>
  <%= semantic_form_for @studium do |f| %>

  <%= f.inputs do %>

  <div class="row-fluid">
      <%= f.input :name,:append=>"NAME", :wrapper_html=>{:class=>"span6"}%>

      <%= f.input :abkuerzung, :wrapper_html=>{:class=>"span1"}%>
      <%= f.input :zahl , :wrapper_html=>{:class=>"span2"}%>

      <%= f.input :typ, :as=>:select, :include_blank=>false, :collection=>["Bachelor","Master"], :wrapper_html=>{:class=>"span2"}%>
  </div>
  <div class="row-fluid">
    <%= f.input :desc, :as=>:tinymce_text , :wrapper_html=>{:class=>"span12"}%>
  </div>

  <% end %>
  <%= tinymce %>
  <%= f.actions do %>
  <%= f.action :submit, :as => :input %>
  <% end %>
  <% end %>
</div>
