
<% if params[:info].true? %>
<%= raw(@studium.desc) %>
<% else %>
<%= @studium.desc_first_words %> <%= link_to I18n.t('studium.info'), studium_path(@studium, :ansicht=>params[:ansicht], :info=>true) %>
<% end %>

<div class="container-fluid">
  <% @studium.semester.each_slice(2) do |row| %>
  <div class="row-fluid">
    <% row.each do |sem| %>
    <div class="span6">
      <%= render sem %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
 <%= render :partial=>'layouts/pretty_toolbar', :locals=>{:elements=>@toolbar_elements} %>
