<%= link_to studium_path(studium, {:ansicht=>'semesteransicht'}) ,{:class=>"linkbox"} do %>
<div class="media">
  <div class="pull-left">
    <%= image_tag studium.picture.big_thumb.url %>
  </div>

  <div class="media-body"> 
    <h2>
      <%= studium.name + " " + studium.zahl.to_s %>
    </h2>
    <p>
      <b><%= studium.typ%> </b>
    </p>
    <p><b><%=I18n.t("studien.desc")%>:</b><br>
      <%= !(studium.desc.to_s == "") ? studium.desc_first_words.html_safe :  I18n.t("keine.beschreibung")%>
    </p>
    
  </div>
</div>
<% end %>
