<ul class="nav nav-tabs">
  <% if request.fullpath == studien_path%>
    <li class="active">
    <% else %>
    <li>
  <% end %>
  <%= link_to "Alle Studien", studien_path %> </li>
<% for s in Studium.all %>
  <% if !@studium.nil? && s == @studium %>
 
    <li class="active" title="<%= s.name %>">
      <%= link_to s.title_context, s %>
    </li>
  <% else %>
    <li title="<%= s.name %>"> <%= link_to s.title_context, s %></li>
  <% end %>
<% end %>
<% if request.fullpath == studien_verwalten_path %>
  <li class="active pull-right">
  <% else %>
  <li class="pull-right">
<% end %>
<%= link_to "Verwaltung", studien_verwalten_path %>
</li>
</ul>
