<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <%= params[:studium].nil? ? I18n.t("filter.studium") : Studium.find(params[:studium]).name %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> <%= link_to 'Alle Studien', studien_verwalten_path(:studium=>nil) %></li>
      <% for s in @studien  %>
	<li> <%= link_to s.name, studien_verwalten_path(:studium=>s)%> </li>
      <% end %>
    </ul>
  </div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <%= params[:modulgruppe].nil? ? I18n.t("filter.modulgruppe") : Modulgruppe.find(params[:modulgruppe]).name %>

      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> <%= link_to 'Alle Modulgruppen', studien_verwalten_path(:modulgruppe=>nil) %></li>
      <% for mg in @modulgruppen  %>
	<li> <%= link_to mg.name, studien_verwalten_path(:modulgruppe=>mg)%> </li>
      <% end %>
    </ul>
  </div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <%= params[:modul].nil? ? I18n.t("filter.modul") : Modul.find(params[:modul]).name %>

      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> <%= link_to 'Alle Module', studien_verwalten_path(:modul=>nil) %></li>
      <% for m in @module  %>
	<li> <%= link_to m.name, studien_verwalten_path(:modul=>m)%> </li>
      <% end %>
    </ul>
  </div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <%= params[:lva].nil? ? I18n.t("filter.lva") : Lva.find(params[:lva]).name %>

      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> <%= link_to 'Alle Lvas', studien_verwalten_path(:lva=>nil) %></li>
      <% for lva in @lvas  %>
	<li> <%= link_to lva.name, studien_verwalten_path(:lva=>lva)%> </li>
      <% end %>
    </ul>    </div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <%= params[:beispiel].nil? ? I18n.t("filter.beispiel") : Beispiel.find(params[:beispiel]).name %>

      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> <%= link_to 'Alle Beispiele', studien_verwalten_path(:beispiel=>nil) %></li>
      <% for b in @beispiele  %>
	<li> <%= link_to b.name, studien_verwalten_path(:beispiel=>b)%> </li>
      <% end %>
    </ul>
  </div>
  <%= link_to I18n.t("filter.reset"), studien_verwalten_path(:studium=>nil, :modulgruppe=>nil, :modul=>nil, :lva=>nil, :beispiel=>nil), :class=>"btn" %>
</div>


