<div class="container-fluid">
  <%= render :partial=>'layouts/topbar'%>
  <div class="row-fluid">
    <h1><%= @studium.typ %> <%= @studium.name %>  (<%= @studium.zahl %>)</h1>
    <%= raw(@studium.desc) %>
    <% @studium.semester.each do |sem| %>

      <div class="span5 min-width:13em;">
	<div class="modulgruppe_phase_1">
	  <h2><%= sem.name %></h2>
	  
	  <% sem.lvas.sort_by{|n| n[:name]}.each do |l| %>
	    
	    
	    <%= render :partial=>'lvas/lva_semester', :locals =>{:lva => l}%>
	    
	  <% end %>
	</div>
      </div>
    <% end %>
  </div>
  <%= render :partial=>'layouts/pretty_toolbar', :locals=>{:elements=>@toolbar_elements} %>
</div>
