<div class="container-fluid">
<div class="row-fluid">
	<p id="notice"><%= notice %></p>

	<%= link_to '<i class="icon-list"></i>'.html_safe+ I18n.t("studien.allestudien"), studien_path,:raw=>true %>

	<h1><%= @studium.typ %> <%= @studium.name %>  (<%= @studium.zahl %>)</h1>
</div>
	<%= raw(@studium.desc) %>
	<% @studienphasen.each do |sp| %>
		<% sp[:modulgruppen].each do |row| %>
			<div class="row-fluid">
				<% row.each do |modulgruppe| %>
					<div class="span<%= sp[:width]%> min-width:13em;">
					<%= render modulgruppe %>
					</div>
				<% end %>
			</div>
		<% end %>
	<% end %>


<div class="row-fluid">
<span class="span12">
<%= link_to '<i class="icon-plus-sign"></i>'.html_safe+I18n.t("studien.newmodulgroup"), new_studium_modulgruppe_path(@studium),:class=>"btn" %> |
<%= link_to '<i class="icon-pencil"></i>'.html_safe+I18n.t("common.edit"), edit_studium_path(@studium) ,:class=>"btn"%>
<%= link_to 'Destroy', @studium, method: :delete, data: { confirm: 'Are you sure?' } %>
</span>
</div>

</div>