<%= render 'studien/tabs' %>
<div class="content-wrap content-column">
  <p id="notice"><%= notice %></p>
  <h1><%= @studium.typ %> <%= @studium.name %>  (<%= @studium.zahl %>)</h1>
  <p>
      <div class="pull-right">
	<%= link_to "Semesteransicht", studium_path(@studium, :ansicht=>"semesteransicht"), :class=>"btn" unless params[:ansicht]=='semesteransicht' %>
	<%= link_to "Modulgruppenansicht", studium_path(@studium, :ansicht=>"modulgruppenansicht"), :class=>"btn" unless params[:ansicht]=='modulgruppenansicht' %>
	<%= link_to "Infoansicht", studium_path(@studium, :ansicht=>"infoansicht"), :class=>"btn" unless params[:ansicht]=='infoansicht' %>
      </div>
  </p>
  <% if params[:ansicht]=='modulgruppenansicht' %>
  <%= render partial: 'modulgruppenansicht' %>
  <% else if params[:ansicht]=='infoansicht' %>
    <%= render partial: 'infoansicht' %>
    <% else %>
    <%= render partial: 'semesteransicht' %>
 

    <% end %>

    <% end %>

  <%= render :partial=>'layouts/pretty_toolbar', :object=>@toolbar_modulgruppen %><br>
  <%= render 'layouts/pretty_toolbar' %>
</div>
