<div class="container-fluid">
<p id="notice"><%= notice %></p>
<h1><%= @studium.typ %> <%= @studium.name %>  (<%= @studium.zahl %>)</h1>
  <%= raw(@studium.desc) %>

<% @studienphasen.each do |sp| %>
<% sp[:modulgruppen].each do |row| %>
<div class="row-fluid">
<% row.each do |modulgruppe| %>
<div class="span<%= sp[:width]%> min-width:13em;">
<%= render modulgruppe %>
</div>
<% end %>
</div>
<% end %>
<% end %>
</div>
 <div class="row-fluid">
<span class="span12">
<%= link_to 'New Modulgruppe', new_studium_modulgruppe_path(@studium),:class=>"btn" %> |
<%= link_to I18n.t("common.edit"), edit_studium_path(@studium) ,:class=>"btn"%> |
<%= link_to '<i class="icon-list"></i> Alle Studien'.html_safe, studien_path,:class=>"btn",:raw=>true %>
</span>
</div></div>