
<div class="container-fluid">
  <%= render 'layouts/topbar'%>
  <div class="row-fluid">
    <p id="notice"><%= notice %></p>
    <h1><%= @studium.typ %> <%= @studium.name %>  (<%= @studium.zahl %>)</h1>
  </div>
  <div>
    <%= raw(@studium.desc) %>
    <% @studienphasen.each do |sp| %>
      <% sp[:modulgruppen].each do |row| %>
	<div class="row-fluid">
	  <% row.each do |modulgruppe| %>
	    <div class="span<%= sp[:width]%> min-width:13em;">
	      <%= render modulgruppe %>
	    </div>
	  <% end %>
	</div>
      <% end %>
    <% end %>
    <%= render :partial=>'layouts/pretty_toolbar', :object=>@toolbar_modulgruppen %>
  </div>
  <%= render 'layouts/pretty_toolbar' %>
</div>
