
<%= semantic_form_for @beispiel, :html => { :multipart => true } do |f| %>

<%= f.inputs do %>

<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
  <div class="span6">
  <%= f.file_field :beispieldatei, :label=>"Beispiel"%>
  </div>
    <%=f.input :datum%>

</div>

<div class="row-fluid">
  <%= f.input :desc %>
</div>

<%= f.hidden_field :beispieldatei_cache %>

    </div>
    <div class="span4">
        <%= f.input :lva, :as=>:radio, :collection => Lva.all %>
      </div>
</div>





<% end %>    

<%= f.actions do %>
<%= f.action :submit, :as => :input %>

<% end %>

<% end %>
