
<%= semantic_form_for @beispiel, :html => { :multipart => true } do |f| %>

<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
      <div class="span6">
      <% unless @beispiel.beispieldatei.url.nil? %>
      Derzeitige Datei: <br>
      <b><%= @beispiel.beispieldatei.url.split("/").last %></b>
      
      <% end %>
      </div>
  <div class="span6">
    <%= f.input :beispieldatei, :as=>:file, :label => "Neue Datei hochladen:", :value=>@beispiel.beispieldatei.url%>
  </div>
  <%=f.input :datum , :as => :datetimepicker %>
    
    </div>
    
<div class="row-fluid">
  <%= f.input :name %>
  
  <%= f.input :desc %>
</div>

<%= f.hidden_field :beispieldatei_cache %>
<%= f.actions do %>
<%= f.action :submit, :as => :input %>

<% end %>

    </div>
  <div class="span4">
    <%= f.input :lva, :as=>:radio, :collection => Lva.all %>
  </div>
</div>




<% end %>
