<div class="container-fluid">
  <div class="span9">
  <%= semantic_form_for @beispiel, :html => { :multipart => true } do |f| %>

    <%= f.inputs do %>
      <div class="row-fluid">
      <%= f.file_field :beispieldatei, :wrapper_html=>{:class=>'span4'}%>
      <%= f.hidden_field :beispieldatei_cache, :wrapper_html=>{:class=>'span0'} %>
      <%= f.input :lva, :as=>:select, :collection => Lva.all, :wrapper_html=>{:class=>'span3'}%>
      <%= f.input :name, :wrapper_html=>{:class=>'span5'} %>
      </div>
    
    <div class="row-fluid">
      <%= f.input :desc %>
    </div>
    <% end %>    

  <%= f.actions do %>
  <%= f.action :submit, :as => :input %>

  <% end %>

  <% end %>
</div>
</div>
