<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beispiel.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @beispiel.desc %>
  <%= @beispiel.beispieldatei.url %>
</p>
<p>
  <%= @beispiel.lva.name %>
  </p>

<%= link_to 'Edit', edit_beispiel_path(@beispiel) %> |
<%= link_to 'Back', beispiele_path %>
