<div style="background:white; border: thin #ccc solid; padding: 15px;-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5); -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5); box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);">
<div id="toolBar"></div>
  <h1 class="editable_simple" data-target="#document_name"><%= @document.name %></h1>
  <div class="editable" data-target="#document_text">
    <%= raw(@document.text) %>
  </div>
</div>
<%= semantic_form_for @document, :html=>{:class=>""} do |f| %>
<%= f.input :name , :as=>:hidden %>
 <%= f.input :text, :as=>:hidden %>
<%= f.action :submit, :as => :input_ %>
<% end %>
<%= tinymce :inline_div %>
<%= tinymce :inline_simple %>

<%= link_to 'Show', @lva %> |
<%= link_to 'Back', lvas_path %>
