<%= link_to "parent" , @document.parent %>
<%= link_to "show", document_path(@document), remote: true %>
<%= link_to "Write", write_document_path(@document) %>
<%= link_to "read", read_from_etherpad_document_path(@document) %>
<%= link_to "dump", dump_to_etherpad_document_path(@document) %>
<h2><%= @document.name %></h2>
<div id="">
<%= raw(@document.text) %>
</div>

