<h1>Listing fetmeetings</h1>

<table>
  <tr>
    <th>Tnlist</th>
    <th>Typ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fetmeetings.each do |fetmeeting| %>
  <tr>
    <td><%= fetmeeting.tnlist %></td>
    <td><%= fetmeeting.typ %></td>
    <td><%= link_to 'Show', fetmeeting %></td>
    <td><%= link_to 'Edit', edit_fetmeeting_path(fetmeeting) %></td>
    <td><%= link_to 'Destroy', fetmeeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fetmeeting', new_fetmeeting_path %>
