<div class="container-fluid">
  
<%= semantic_form_for @fetprofile do |f| %>
  <%= f.inputs do %>
    <div class="row-fluid">
    <div class="span4">
    <%= f.input :vorname %></div>
    <div class="span4"><%= f.input :nachname %></div>
    <div class="span4"><%= f.input :short %>
   </div> </div>
     <div class="row-fluid">
    <div class="span12">   
    <%= f.input :desc %></div>
    </div> 
    <div class="row-fluid">
    <div class="span4"> <%= f.input :active %></div> 
    <div class="span4"><%= f.input :picture, :as=>:file %></div>
    <div class="span4">  <%= f.input :fetmailalias %></div> 
    </div>

  <%= f.inputs :for => :memberships do |membership,i| %> 
  <div class="row-fluid">
	   <div class="span1"></div>
	
   <div class="span3"><%= membership.input :start, :as=>:date %></div>
  <div class="span3"><%= membership.input :stop %></div>
  <div class="span3"><%= membership. input :gremium %></div>
  <div class="span2"><%= membership.input :typ ,:as=>:radio, :collection=>{"mitglied"=>1, "ersatzmitglied"=>2} %></div>

  </div>  <% end %>
  <% end %>

   <div class="row-fluid">
   <div class="span12">
  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
</div></div></div>
