<div class="container-fluid">
  
  <%= semantic_form_for @fetprofile do |f| %>
  <%= f.inputs do %>
    <div class="row-fluid">
      <div class="span4">
	<%= f.input :vorname %>
      </div>
      <div class="span4"><%= f.input :nachname %></div>
      <div class="span4"><%= f.input :short %>
    </div> </div>
    <div class="row-fluid">
      <div class="span12">   
	<%= f.input :desc , input_html: {style: "width:100%"}%>
      </div>
    </div> 
    <div class="row-fluid">
      <div class="span4"> <%= f.input :active %> <%= f.input :geschlecht,:as=>:select, :collection=>Fetprofile::GESCHLECHT.invert %></div> 
      <div class="span4">
	<%= image_tag(@fetprofile.picture.thumb.url) unless @fetprofile.picture.nil? %>
	<%= f.file_field :picture %>
	<%= f.hidden_field :picture_cache %>
	<label>
	  <%= f.check_box :remove_picture %>
	  <%= I18n.t('profile.remove_picture') %>
	</label>
      </div>
      <div class="span4">  <%= f.input :fetmailalias %></div> 
    </div>
    
<div class="row-fluid">
<div class="span6">

<%= I18n.t("fetprofile.adresse") %>:

<%=f.input :street %>
<table><tr><td>
<%=f.input :plz, input_html: {style: "width:5em"} %></td>
<td><%=f.input :city, input_html: {style: "width:5em"} %></td></tr></table>
<%=f.input :telnr %>
<%=f.input :hdynr %>

</div>
<div class="span6">
<%= I18n.t("fetprofile.geburtstag") %>:
<table><tr>
<td><%=f.input :birth_day, input_html: {style: "width:3em"}%></td>
<td><%=f.input :birth_month, input_html: {style: "width:3em"} %></td>
<td><%=f.input :birth_year, input_html: {style: "width:5em"} %></td>
</tr></table>



<%=f.input :instant %>
<%=f.input :skype %>

</div>

</div>
<div id="memberships_form_list">
<% @memberships.each do |m| %>
<%= render partial:"membership_fields", object: m , locals: {:f=>f} %>
<% end %>  
</div>

<% end %>  
    <div class="row-fluid">
      <div class="span12">
	<%= f.actions do %>
	<%= f.action :submit, :as => :button, :label=>I18n.t("common.save") %>
	<%= f.action :submit, :as => :button, :label=>I18n.t("common.savecont"), :button_html=>{value: "continue"} %>
	<%= f.action :cancel, :as=> :link , :label=>I18n.t("common.cancel") %>
	<% end %>
      </div>
    </div>
 <% end %>
  

  <script>$('.datepicker').datepicker()</script>
</div>
