<div class="container-fluid">
  
  <%= semantic_form_for @fetprofile do |f| %>
  <%= f.inputs do %>
    <div class="row-fluid">
      <div class="span4">
	<%= f.input :vorname %>
      </div>
      <div class="span4"><%= f.input :nachname %></div>
      <div class="span4"><%= f.input :short %>
    </div> </div>
    <div class="row-fluid">
      <div class="span12">   
	<%= f.input :desc %>
      </div>
    </div> 
    <div class="row-fluid">
      <div class="span4"> <%= f.input :active %></div> 
      <div class="span4">
	<%= image_tag(@fetprofile.picture.thumb.url) unless @fetprofile.picture.nil? %>
	<%= f.file_field :picture %>
	<%= f.hidden_field :picture_cache %>
	<label>
	  <%= f.check_box :remove_picture %>
	  <%= I18n.t('profile.remove_picture') %>
	</label>
      </div>
      <div class="span4">  <%= f.input :fetmailalias %></div> 
    </div>
    
<div class="row-fluid">
<div class="span6">
Adresse:

<%=f.input :street %>
<%=f.input :plz %>
<%=f.input :city %>
KOntakt:
<%=f.input :instant %>
<%=f.input :skype %>
<%=f.input :telnr %>
<%=f.input :hdynr %>

</div>
<div class="span6">
Geburtstag:
<%=f.input :birth_day %>
<%=f.input :birth_month %>
<%=f.input :birth_year %>

</div>

</div>
<% @memberships.each do |m| %>

    <%= f.semantic_fields_for :memberships, m do |membership| %>
  
    <div class="row-fluid">
     
 
      <div class="span3"><%= membership.input :start, :as=>:datepicker, :prepend=>"von",:label=>false%></div>
      <div class="span3"><%= membership.input :stop, :as=>:datepicker,:label=>false, :prepend =>"bis" %></div>
    <div class="span2"><%= membership.input :typ ,:as=>:select, :collection=>Membership::TYPEN.invert, :label=>false %></div>
 <div class="span3"><%= membership.input :gremium, :label=>false %>

</div>
<div class="span1"><%= membership.check_box :_destroy %> <%= I18n.t 'common.delete' %></div>
      
    </div>  
    <% end %>
  <% end %>  <% end %>  
    <div class="row-fluid">
      <div class="span12">
	<%= f.actions do %>
	<%= f.action :submit, :as => :input %>
	<% end %>
      </div>
    </div>
 <% end %>
  

  <script>$('.datepicker').datepicker()</script>
</div>
