<%= content_for :header do %>
<title><%= "Fetsite - "+I18n.t('home.mitarbeiter') %></title>
<% set_meta_tags :og => {
:title => "Fetsite - "+I18n.t('home.mitarbeiter'),
:url=> themengruppen_path(:theme=>nil)
}
%>
<%= display_meta_tags %>
<% end %>

<%= render 'fetprofiles/tabs' %>
<div class="content-wrap content-column">
<h1>
  <%=	I18n.t 'profile.all_members' if params[:filter] == "all" %>
  <%=	I18n.t 'profile.active_members' if params[:filter].nil? || params[:filter]== "active"
	%>
</h1>
<div class="row-fluid">
  <div class="span12">
 <%= render 'layouts/pretty_toolbar' %>


    <% link_to I18n.t('profile.new_profile'), new_fetprofile_path %>
  </div>
</div>

  

  <% @fetprofiles.each_slice(4) do |row| %>
<div class="row-fluid">
 <% row.each do |fetprofile| %>
<div class="span3">
  
    <%= link_to fetprofile do %>
    <%= render :partial=>"portrait", :object=>fetprofile %>
   <% end %>
  
</div> 
  <% end %>
</div>
<% end %>





<div class="row-fluid">
  <div class="span12">
    <%= link_to I18n.t('profile.new_profile'), new_fetprofile_path %>
  </div>
</div>

</div>
</div>


