<h1>Listing fetprofiles</h1>

<ul>
<% @fetprofiles.each do |fetprofile| %>
<li>
	<%= %>
    <td><%= fetprofile.vorname %></td>
    <td><%= fetprofile.nachname %></td>
    <td><%= fetprofile.short %></td>
    <td><%= fetprofile.fetmailalias %></td>
    <td><%= fetprofile.desc %></td>

    <td><%= fetprofile.active %></td>
    <td><%= link_to 'Show', fetprofile %></td>
    <td><%= link_to 'Edit', edit_fetprofile_path(fetprofile) %></td>
    <td><%= link_to 'Destroy', fetprofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</li>
<% end %>
</ul>

<br />

<%= link_to 'New Fetprofile', new_fetprofile_path %>
