<div class="container-fluid">
  <div class="row-fluid">
	  <div class="span12">
<h1>Listing fetprofiles</h1>
</div>
</div>

<% @fetprofiles.each do |fetprofile| %>
<div class="row-fluid">
	<div class="span3">
	<%= image_tag fetprofile.picture.portrait.url %>
	</div>
	<div class="span9">
	
    <h2><%= link_to fetprofile.name, fetprofile %></h2>
    <p><%= fetprofile.fetmailalias %></p>
    <p><%= fetprofile.desc %></p>
    <p><%= fetprofile.active %> </p>
</div>
</div>
<% end %>
<div class="row-fluid">
<div class="span12">
<%= link_to 'New Fetprofile', new_fetprofile_path %>
</div></div></div>
