
<%= render 'fetprofiles/tabs' %>
<h1>
  <%=	I18n.t 'fetprofiles.all' if params[:filter] == "all" %>
  <%=	I18n.t 'fetprofiles.active' if params[:filter].nil? || params[:filter]== "active"
	%>
</h1>
<ul class="unstyled">
<% @fetprofiles.each do |fetprofile| %>
<li>
<%= link_to fetprofile do %>
<span class="pull-left">
  <%= image_tag fetprofile.picture.portrait.url %>
</span>
<div class="">
  
  <h2><%= fetprofile.name %></h2>
  <p><%= fetprofile.fetmail %></p>
  <p><%= fetprofile.desc %></p>
  
</div>
<% end %>
</li>
<% end %>
</ul>
<div class="row-fluid">
  <div class="span12">
    <%= link_to I18n.t('fetprofiles.new'), new_fetprofile_path %>
</div></div></div>
