<%= render 'fetprofiles/tabs' %>
<p id="notice"><%= notice %></p>
<div style="max-width:70em">
  <div class="media">
    <span class="pull-left">
      <%= image_tag @fetprofile.picture.portrait.url %>
    </span>
    <div class="media-body">
      <h2><%= @fetprofile.name %></h2>
      <p>
	<%= @fetprofile.fetmail %>
      </p>
      <p>
	<%= @fetprofile.desc %>
      </p>

      <ul>
	<% @memberships.each do |m| %>
	<li>
	  <%= render m %>
	  <%= link_to I18n.t('common.edit'), edit_fetprofile_membership_path(@fetprofile,m) if params["verwalten"] && can?(:edit, m)%>
	  <%= link_to I18n.t('common.delete'), [@fetprofile, m], method: :delete, data: {confirm: I18n.t('common.sure_del')} if params["verwalten"] && can?(:delete, m ) %>
	</li>
	<% end %>
      </ul>

    </div>
  </div>
</div>
      <%= render 'layouts/pretty_toolbar' %>
