<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row-fluid">
	  <div class="span3">
		<%= image_tag @fetprofile.picture.portrait.url %>
	</div>
	<div class="span9">
<h2><%= @fetprofile.name %></h2>

<p>
  <%= @fetprofile.fetmailalias %>
</p>
<p>
  <%= @fetprofile.desc %>
</p>
<p>
   <%= "<b>Aktiv</b>".html_safe if @fetprofile.active %>
</p>

</div>
</div>
  <div class="row-fluid">
	  <div class="span12">
<% @fetprofile.memberships.each do |m| %>
<%= m.start.to_s %>
<%= m.gremium.try(:name).to_s %>
<%= link_to 'edit', edit_fetprofile_membership_path(@fetprofile,m) %>
<% end %>

<%= link_to 'Edit', new_fetprofile_membership_path(@fetprofile) %> |

<%= link_to 'Edit', edit_fetprofile_path(@fetprofile) %> |
<%= link_to 'Back', fetprofiles_path %>
</div>
</div></div>
