<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= image_tag @fetprofile.picture.portrait.url %>
    </div>
    <div class="span9">
      <h2><%= @fetprofile.name %></h2>
      <p>
	<%= @fetprofile.fetmailalias %>
      </p>
      <p>
	<%= @fetprofile.desc %>
      </p>
      <p>
	<%= link_to 'Destroy', @fetprofile, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <ul>
	<% @fetprofile.memberships.each do |m| %>
	<li>
	  <%= render m %>
	  <%= link_to 'edit', edit_fetprofile_membership_path(@fetprofile,m) if params["verwalten"]%>
	  <%= link_to 'delete', [@fetprofile, m], method: :delete, data: {confirm: 'Sure?'} if params["verwalten"] %>
	</li>
	<% end %>
      </ul>
      <%= render 'layouts/pretty_toolbar' %>
    </div>
</div></div>
