<ul class="nav nav-tabs">
 <li <%= (request.fullpath == "")? 'class="active"'.html_safe : ''%> >
 <%= link_to I18n.t 'calendars.alle' , calendars_path %> </li>
<% for c in Calendar.all %>
  <li <%= (!@calendar.nil? && c == @calendar) ? 'class="active"'.html_safe : '' %> title="<%= c.name %>">
    <%= link_to c.name, c %>
    </li>
<% end %>
<% if can?(:verwalten,Calendar) %>
<% if request.fullpath == calendars_verwalten_path %>
  <li class="active pull-right">
  <% else %>
  <li class="pull-right">
<% end %>
<%= link_to "Verwaltung", calendars_verwalten_path %>
</li>
<% end %>
</ul>
