<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <%= render 'tabs' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h1><%= I18n.t 'calendars.calendar' %></h1>
      <ul class="unstyled linkbox-list">
	<% @calendars.each do |calendar| %>
	<li>	  
	  <%= link_to calendar, {class: :linkbox} do %>

	  <div class="media">
	    <span class="pull-left" >
	      <img class="media-object img-circle" src="<%= calendar.picture.thumb.url %>"/>
	    </span>
	    y<div class="media-body">
	      <h4><%= calendar.name %></h4>
	    </div>
	  </div>

	<% end %>
	</li>    
	<% end %>
      </ul>   
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= link_to 'New Calendar', new_calendar_path unless cannot?(:new, Calendar) %>
    </div>
  </div>
</div>
