<p id="notice"><%= notice %></p>
<%= link_to "Zurück", @wiki.themengruppe %>
<br> 
<%= debug @wiki %>
<%= render :partial=>"themen/small", :object=>@wiki %>


<%= render :partial=>'layouts/pretty_toolbar' %>

