<div class="container-fluid">
  <%= semantic_form_for @modul do |f| %>
  <%= f.inputs do %>
  <div class="row-fluid">
    <div class="span9">
      <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span12">
	    <%= f.input :name ,:hint=>true%>
	  </div>
	</div>

	<div class="row-fluid">
	  <div class="span12">
	    <%= f.input :desc, :as=>:tinymce_text %>
	  </div>
	</div>
	<div class="row-fluid">
	  <div class="span12">
	    <%= f.input :depend %>
	  </div>
	</div>
      </div>
    </div>
    <div class="span3">
      <%= f.input :modulgruppen, :as => :check_boxes, :member_label=>:long_name, :collection => Modulgruppe.all %>
    </div>
  </div>
 
  <% end %>

  <%= f.actions do %>
  <%= f.action :submit, :as => :input %>
  <% end %>

  <% end %>
</div>
<%= tinymce %>
