<h1>Alle Module der Elektrotechnik</h1>

<table class="table" >
  <tr>
    <th>Studium</th>
    <th>Modulgruppe</th>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moduls.each do |modul| %>
  <tr>
    <td><%= %></td>
    <td><%= if !modul.modulgruppen.first.nil? 
modul.modulgruppen.first[:name] 
end %> </td>
    <td><%= modul.name %></td>
    <td><%= modul.desc %></td>
    <td><%= link_to 'Show', modul_path(modul) %></td>
    <td><%= link_to 'Edit', edit_modul_path(modul) %></td>
    <td><%= link_to 'Destroy', [modul], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% if !@studium.nil? %>
<%= link_to 'New Modul', new_modul_path() %>
<% end%>
