
<ul class="breadcrumb">
  <% @modul.modulgruppen.each do |g| %>
    <% if !g.nil? %>
      <li>
	<% if !g.studium.nil? %>
	  <%= link_to g.studium.name  , studium_path(g.studium) %> 
	  
	<% else %>
	  <li>Studium fehlt!
	<% end %>
	<span class="divider">/</span></li>
      <li><%= link_to g.name , modulgruppe_path(g)%>
      <% else %>
      <li>Modulgruppe Fehlt
    <%end %>
     <span class="divider">/</span> </li>
    <%end%>
   
</ul>

<p id="notice"><%= notice %></p>
<%= render @modul %>

<%= render 'layouts/pretty_toolbar' %>
<% # link_to 'Add LVA',  %>
<% # link_to '<i class="icon-pencil"></i>'.html_safe+ I18n.t("common.edit") , edit_modul_path(@modul) %>
<% # link_to "Loeschen", [@modul],:method=>:delete ,:data => {:confirm =>"Are you sure" } %>
