<%= raw(small.text) %>
<br/>
<%= raw("<b>FAQs:</b>")  unless small.fragen.empty? %>

<br/>
<% small.fragen.each do |frage| %>
<p>
<b> <%= frage.title %> </b> <br/>
<%= raw(frage.text) %>
</p>
<br/>
<% end %>



<%= link_to 'Edit', small %>
