<a name="thema_<%=small.id%>" href="#<%=small.id%>">
  <h2><%= small.title %></h2>
</a>
<%= raw(small.text) %>
<br/>

<%= raw("<b>FAQs:</b>")  unless small.fragen.empty? %>
<br/>
<% small.fragen.each do |frage| %>
<p>
  <b> <%= frage.title %> </b> <br/>
  <%= raw(frage.text) %>
</p>
<% end %>

<%= render partial: "themen/attachment_list", object: small.attachments, locals:{editor: false} unless small.attachments.empty? %>
<br/>


<% 
@small_elements = []
@small_elements << {:icon=>:pencil, :hicon=>'icon-pencil', :text=>I18n.t('thema.edit'), :path=>small} if can? :edit, small 
@small_elements << {:hicon=>'icon-remove-circle',:text=>I18n.t('thema.remove'), :path=>small, :method=>:delete,:confirm=>I18n.t('thema.sure')} if can? :delete, small %>
<% render :partial=>'layouts/pretty_toolbar', :object=>@small_elements unless @small_elements.empty? %>
