<p id="notice"><%= notice %></p>
<%= link_to "Zurück", @thema.themengruppe %>
<br> 
<%= render :partial=>"themen/small", :object=>@thema %>

<%= render :partial=>'layouts/pretty_toolbar' %>

<%= link_to new_thema_attachment_path(@thema) ,:remote=>true do %> new Attachment <% end %>
<%= render :partial => "themen/select", :object => @thema, :locals=>{:editor => :false} %>
