<%= content_for :header do %>
<title><%= @thema.title.to_s + " (" + @thema.themengruppe.title.to_s + ")" %></title>

<% 
   mog = {
     :title => @thema.title.to_s + " (" + @thema.themengruppe.title.to_s + ")",
     :type => "article",
     :description =>@thema.text_first_words,
     :url=>thema_url(:theme=>nil)
  }
%> 

<%
   unless @thema.titlepics.first.nil?
     picture_url=URI(root_url)
     picture_url.path=@thema.titlepics.first.datei.url(:locale=>nil, :theme=>nil)
     mog[:image]= picture_url 
   end
%>

<%= display_meta_tags :og=> mog %>
<% end %>

<p id="notice"><%= notice %></p>
<% link_to "Zurück", @thema.themengruppe %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=120379864660921&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% thema=@thema %><div class="content-wrap content-column" >

<div class="contentbox">	
  <%= render :partial => 'themen/small', :object => thema %>
  <ul class="unstyled">
    <% unless thema.gremium.nil? %>
    <li>
      <%= link_to fa_icon("users 2x")+thema.gremium.name , thema.gremium,:class=>"linkbox" %>
    </li>
    <% end %>		
	  
    <% thema.nlinks.each do |l| %> 
    <li>
      <%= render l.neuigkeit if can? :show, l.neuigkeit%>
    </li>
    <% end %>
    
  </ul>
</div>

<div class="fb-like" data-href"<%= thema_url(@thema,{theme: nil, locale: nil})%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<br> 

<div class="">
<%= render @thema.themengruppe %>
</div>
</div>
<% # render :partial=>'layouts/pretty_toolbar' %>

