<p id="notice"><%= notice %></p>

<h1><%= @thema.title %></h1>
<p>
  <%= raw(@thema.text) %>
</p>

<!--
<%= link_to 'Edit', edit_thema_path(@thema) %> |
<%= link_to 'Back', themengruppe_path(@thema.themengruppe) %>
-->
<%= render :partial=>'layouts/pretty_toolbar' %>

<h2>FAQs:</h2>
<% @thema.fragen.each do |frage| %>
<%= render frage %>
<% end %>

<% @frage_elements = [{:icon=>:plus, :hicon=>'icon-plus', :text=>I18n.t('frage.add'), :path=>new_frage_path}] %>
<%= render :partial=>'layouts/pretty_toolbar', :object=>@frage_elements %>
<!--
<%= link_to 'Neue Frage', new_frage_path %> <br/>
-->
<br/>

<h2><%= I18n.t('attachment.title')%>:</h2>
<%= render :partial => "themen/select", :object => @thema, :locals=>{:editor => :false} %>
