<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=120379864660921&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="content-wrap content-column" style="max-width:90em;">
 <h1><%= I18n.t('home.willkommen') %></h1>
<%= raw(@starttopic.text) %>


<div class="container-fluid">
<div class="row-fluid">
<div class="span5">
  
  <ul class="linklist">
    <li>
      <%= link_to ffi1_icon("facebook1") + I18n.t('home.fblogin'), user_omniauth_authorize_path(:facebook) ,class: :linkbox %>
    </li>
    <li>
      <%= link_to ffi1_icon("academic") + I18n.t('home.login'), user_omniauth_authorize_path(:ldap) ,class: :linkbox %>
    </li>
   
    <li>  
      <%= link_to ffi1_icon("quiz")+ I18n.t("themengruppe.faqs"), faqs_themengruppen_path,class: :linkbox %>


    </li>
    <li><%= link_to ffi1_icon("books19")+"Beispielsammlung", studium_path(Studium.first, {:ansicht=>'semesteransicht'}) ,class: :btn ,class: :linkbox %></li>

    <li><%= link_to "Alte Beispielsammlung", "http://www.fet.at/alt/bin/view/Beispielsammlung/WebHome" ,class: :btn ,class: :linkbox %></li>


  </ul>
  <!-- <div class="alert">
    <h2>Beta Test</h2>
    <p>Die Webseite befindet sich derzeit in einem Entwicklungsstadium,
      volle Funktionsfähigkeit ist noch nicht erreicht. Bitte Featurerequests und
      Fehlermeldungen auf GitHub melden.
    </p>
    <p>
      
      <%= link_to "Issues", "http://www.github.com/fetsite/fetsite/issues" %>
    </p>
    <p>
      Bezüglich Design und Steuerung sind Vorschläge erwünscht.
    </p>
    <p><%= link_to "Steuerelemente und Komponenten", "http://getbootstrap.com/2.3.2/index.html" %></p>
    <p>Um bei der Entwicklung mitzuhelfen braucht nur Ruby on Rails installiert werden</p>
    <p><%= link_to "Getting Started" , startdev_home_index_path %></p>
    <p> Das Kalender Feature wird überarbeitet, in Zukunft soll folgender Link nicht mehr funktionieren 	  <%= link_to "Kalender", calendars_path %>
    </p>

  </div>-->
  <%= render 'beispiele' %>
<div class="fb-like-box" data-href="https://www.facebook.com/FachschaftET" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
</div>
<div class="span7">
  <ul class="unstyled linklist" style="overflow:hidden;">
    <% @neuigkeiten.each do |n| %>
      <li><%= render n if can?(:show, n) %> </li>
    <% end %>
  </ul>
  <div style="border-style: solid;
              border-width: 15px 4px 5px 5px;
              -moz-border-image: url('/jag.gif') 15 4 5 5 round repeat;
              -webkit-border-image: url('/jag.gif') 15 4 5 5 round repeat;
              -o-border-image: url('/jag.gif') 15 4 5 5 round repeat;
              border-image: url('/jag.gif') 15 4 5 5 fill round repeat;
              margin:-20px 5px 0px 5px;">
    <h2 style="margin:0px 5px 0px 5px">
      <%= link_to link_to I18n.t('home.morenews'),rubriken_path %>
    </h2>
  </div>
</div>
</div>
</div>
</div>

