<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=120379864660921&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="content-wrap content-column" style="max-width:90em;">
 <h1><%= I18n.t('home.willkommen') %></h1>
<%= raw(@starttopic.text) %>


<div class="container-fluid">
<div class="row-fluid">
<div class="span4">
  
  <ul class="linklist">
    <li>
      <%= link_to ffi1_icon("facebook1") + I18n.t('home.fblogin'), user_omniauth_authorize_path(:facebook) ,class: :linkbox %>
    </li>
    <li>
      <%= link_to ffi1_icon("academic") + I18n.t('home.login'), user_omniauth_authorize_path(:ldap) ,class: :linkbox %>
    </li>
   
    <li>  
      <%= link_to ffi1_icon("quiz")+ I18n.t("themengruppe.faqs"), faqs_themengruppen_path,class: :linkbox %>


    </li>
    <li><%= link_to ffi1_icon("books19")+"Beispielsammlung", studium_path(Studium.first, {:ansicht=>'semesteransicht'}) ,class: :btn ,class: :linkbox %></li>

    <li><%= link_to "Alte Beispielsammlung", "http://www.fet.at/alt/bin/view/Beispielsammlung/WebHome" ,class: :btn ,class: :linkbox %></li>


  </ul>
  <ul class="linklist">
    <% @stickythemen.each do |t1| %>
    <li>
    <%= link_to t1,:class=>:linkbox do %>
    <%= render partial: "themen/nlink", object: t1 %>
    <% end %> 
    </li>
    <% end %>
  </ul>
</p>
<%= render 'beispiele' %>

</div>
<div class="span5">
  <ul class="unstyled linklist">
	<% @neuigkeiten.each do |n| %>
	<li><%= render n if can?(:show, n) %> </li>
	<% end %>
  </ul>
</div>
<div class="span3">
<% cache("calendar_" + @calentries.pluck(:id).join('') + @calentries.order(:updated_at).reverse_order.pluck(:updated_at).first.to_i.to_s) do %>
<%= render 'calendars/calentries', :object=>@calentries %>
<% end %>


<div class="fb-like-box" data-href="https://www.facebook.com/FachschaftET" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
</div>
</div>
</div>
</div>

