<div class="container-fluid">
  <div class="fluid-row">
    <div class="span4">
      <%= semantic_form_for @gallery do |f| %>
      <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.input :desc %>
      <%= f.input :datum %>
     
      <% end %>

      <%= f.actions do %>
      <%= f.action :submit, :as => :input %>
      <% end %>
      <% end %>
    </div>
    
  </div>

</div>
