    <div class="media gallery-block">
      <div class="pull-left" href="#">
	<%= if(nlink.fotos.empty?)
	    image_tag "no_image_128.png", {:class => "img-rounded"}
	    else
	    image_tag nlink.fotos.sample.datei.big_thumb.url, {:class => "img-rounded"}
	    end %>
      </div>
      <div class="media-body">
	<small class="pull-left"><%= nlink.fotos.size.to_s + " " + I18n.t('fotos.bilder')%> </small>
	<small class="pull-right"><%=I18n.l(nlink.try(:datum).try(:to_date)) unless nlink.try(:datum).try(:to_date).nil? %></small></br>
	<h1><%= nlink.name %></h1>
	<p>
	  <%= if nlink.desc.split.size > Gallery::WORD_COUNT
	  nlink.desc.split[0..Gallery::WORD_COUNT].join(" ") + " ..."
	  else
	  nlink.desc
	  end%>
	</p>
      </div>
    </div>
