<h1>Listing galleries</h1>
 <%= %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12"> 
		<% @galleries.each do |gallery| %>
			<%= link_to gallery do %>
			<div class="media">
				<div class="pull-left" href="#">
					<%= image_tag gallery.fotos.first.datei.big_thumb.url %>
				</div>
				<div class="media-body">
					<h1><%= gallery.datum %> - <%= gallery.name %></h1>
					<p><%= gallery.desc %>
					</p>
				</div>
			</div>
			<% end %>
			<%= link_to 'Edit', edit_gallery_path(gallery) %>
		<% end %>
		</div>
	</div>
</div

<br />
<%= link_to 'New Gallery', new_gallery_path %>
