<h1>Listing galleries</h1>

<% @galleries.each_slice(2) do |row| %>
<div class="row-fluid">
  <% row.each do |gallery| %>
  <div class="span6">
    <%=link_to gallery.name, gallery %>
    <%= gallery.desc %>
    <%= gallery.datum %>
    <br>
    <%= link_to 'Edit', edit_gallery_path(gallery) %> | <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</div>
<% end %>
<%= link_to 'New Gallery', new_gallery_path %>
