<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gallery.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @gallery.desc %>
</p>

<p>
  <b>Datum:</b>
  <%= @gallery.datum %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
