<h1>Listing fetmeetingtops</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Discussion</th>
    <th>Ersteller</th>
    <th>Fetmeeting</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fetmeetingtops.each do |fetmeetingtop| %>
  <tr>
    <td><%= fetmeetingtop.title %></td>
    <td><%= fetmeetingtop.text %></td>
    <td><%= fetmeetingtop.discussion %></td>
    <td><%= fetmeetingtop.ersteller %></td>
    <td><%= fetmeetingtop.fetmeeting_id %></td>
    <td><%= link_to 'Show', fetmeetingtop %></td>
    <td><%= link_to 'Edit', edit_fetmeetingtop_path(fetmeetingtop) %></td>
    <td><%= link_to 'Destroy', fetmeetingtop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fetmeetingtop', new_fetmeetingtop_path %>
