<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @fetmeetingtop.title %>
</p>

<p>
  <b>Text:</b>
  <%= @fetmeetingtop.text %>
</p>

<p>
  <b>Discussion:</b>
  <%= @fetmeetingtop.discussion %>
</p>

<p>
  <b>Ersteller:</b>
  <%= @fetmeetingtop.ersteller %>
</p>

<p>
  <b>Fetmeeting:</b>
  <%= @fetmeetingtop.fetmeeting_id %>
</p>


<%= link_to 'Edit', edit_fetmeetingtop_path(@fetmeetingtop) %> |
<%= link_to 'Back', fetmeetingtops_path %>
