<!DOCTYPE html>
<html>

 <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fetsite</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
    <link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<!--[if lt IE 7]><link rel="stylesheet" href="css/bootstrap-ie6.css"><![endif]-->
<link rel="stylesheet" href="css/bootstrap-image-gallery.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="maincontainer" class="container-fluid">
    <div class="row-fluid">
	<div class="header">
	  <h1 style="display:block">Fachschaft<br> Elektrotechnik</h1>
	</div>
    </div>
    <div class="row-fluid">
      <div class="span2 earlymax">

	
	<div id="menudiv"><%= render :template => 'layouts/menu' %></div>
      </div>	
      <div class="span10" id="contentdiv">
	
	<%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
