<!DOCTYPE html>
<html>

 <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fetsite</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="header">
		<h1 style="display:block;float:none">Fachschaft Elektrotechnik</h1>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
	<div class="span2 earlymax">
	<div id="menudiv"><%= render :template => 'layouts/menu' %></div>
	</div>	<div class="span10 earlymax">
	
			<%= yield %>
	</div>
</div>
</body>
</html>
