<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
            <a class="brand" href="#"><%= t 'home.mtitle'%></a>
      <a class ="btn btn-navbar" data-toggle="collapse" data-parent="#menudiv" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
	<ul class="nav nav-pills nav-stacked">
	  <li><%= link_to I18n.t(:home,:scope=>'home' ), home_index_path %>
	  </li>
	  <li><%= link_to I18n.t(:news,:scope=>'home' ),rubriken_path %></li>
	  <li><%= link_to I18n.t(:info,:scope=>'home' ) %></li>
	  <li><%= link_to I18n.t(:studien,:scope=>'home' ), studien_path %></li>
	  <li><%= link_to "Kalender", calendars_path %></li>
	  <% if user_signed_in? %>
	  <li>Logged in as : <%= current_user.email %>
	    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	  </li>
	  <% else %>
	  <li>
	    <%= link_to('Login', new_user_session_path)  %>  
	  </li>
	  <% end %>
	  <li><%if I18n.locale == :en %>
	    <%= link_to "Deutsch" ,switch_locale_url(:de)%>
	    <% elsif I18n.locale == :de %>
	    <%= link_to "English" ,switch_locale_url(:en)%>
	    <%end %>
	  </li>
	  <li>
	    <%= link_to 'Admin' , config_path%>
	  </li>
	</ul>
      </div>

</div>
</div>
</div>
