<table class="table">
  <% neuigkeiten.each do |n| %>
  <% r = n.rubrik %>
  <tr>
    <td><%= fa_icon "globe" if r.public%></td>
    <td><%= r.name %></td>
    <td>
      <%= link_to n.title, n %>     
    </td> 
    <td>
      <%= unless n.datum.nil? 
	  I18n.l(n.datum) 
	  else 
	  link_to "publish", publish_rubrik_neuigkeit_path(r,n) if can?(:publish, n) 
	  end
	  %>
      
      <%= link_to "edit", edit_rubrik_neuigkeit_path(r,n) if can? :publish, n %>
    </td>
  </tr>
  <% end %>
</table>
