<%= render 'tabs' %>
<h1><%= I18n.t("rubrik.title")%></h1>
<% @rubriken.each do |rubrik| %>

<% rubrik.neuigkeiten.recent.each do |n| %>

<li><%= render n %> </li>
<% end %>
<%= link_to 'Weitere Artikel zu '+rubrik.name.to_s , rubrik %>   
<% end %>



<br />

<%= link_to 'New Rubrik', new_rubrik_path unless cannot?(:new, Rubrik) %>
