<%= content_for :header do %>
<title>Fetsite - <%= I18n.t('home.news') %></title>
<% end %>
<%= render 'tabs' %>
<p id="notice"><%= notice %></p>
<div class="content-wrap">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <h1><%= I18n.t("rubrik.title")%></h1>
    </div>
  </div>
  <div class="row-fluid">

    <div class="span9">

      <ul class="unstyled linkbox-list" style="max-width:70em" id="neuigkeiten">
	<% @neuigkeiten.each do |n| %>
	<li><%= render n if can?(:show, n) %> </li>
	<% end %>
      </ul>
<div id="infinite-scrolling">
<%= will_paginate @neuigkeiten %>
</div>

    </div>

    <div class="span3">
      <%= render 'calendars/calentries', :object=>@calentries %>
    </div>
  </div>
</div>
</div>



