<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rubrik.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @rubrik.desc %>
</p>

<p>
  <b>Prio:</b>
  <%= @rubrik.prio %>
</p>

<b>Moderatoren:</b>
<% @moderatoren.each do |m|%>
<%= m.email%>
<% end%>

<%= semantic_form_for @rubrik, :url=> url_for(:action => 'addmoderator',:id=>@rubrik.id) do |f| %>
<%= f.inputs do %>
<%= f.input :moderator, :as => :select, :collection => Hash[User.all.map{|b| [b.email,b.id]}] ,:label=>"Hinzufügen"%>
		<% end %>
		<%= f.action :submit %>
	<% end %>

<%= link_to 'Edit', edit_rubrik_path(@rubrik) %> |
<%= link_to 'Back', rubriken_path %>
