<%= content_for :header do %>


<title>Fetsite - <%= @rubrik.name %></title>
<% set_meta_tags :og => {
:title => @rubrik.name.to_s,
:url=> rubrik_path(@rubrik,:theme=>nil)
}
%>
<%= display_meta_tags %>

<% end %>

<%= render 'tabs' %>
<%= render 'layouts/pretty_toolbar', :object=> @toolbar_elements %>
<p id="notice"><%= notice %></p>
<div class="content-wrap content-column">
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">

<h1><%= @rubrik.name %></h1>
<p>
  <%= @rubrik.desc %>
</p>
<b>Moderatoren:</b>
<i>
  <% @moderatoren.each do |m|%>
  <%= m.email%>,
  <% end%>
</i>
</div></div>
<div class="row-fluid">

<div class="span9">
<ul class="unstyled linkbox-list" style="max-width:70em" id="neuigkeiten">
<% @neuigkeiten.each do |neuigkeit| %>
    <%= render neuigkeit, wrap_in: "li" %>
<% end %>
</ul>

<div id="infinite-scrolling">
<%= paginate @neuigkeiten, theme:'twitter-bootstrap' %>


</div>
</div>
<div class="span3">

<% cache("calendar_" + @calentries.map{|c| c.id}.join('') + @calentries.max{|c|c.updated_at}.updated_at.to_i.to_s) do %>
<%= render 'calendars/calentries', :object=>@calentries %>
<% end %>
<%= link_to "ics-format", calendar_path(@rubrik.calendar,:format=>:ics) %>
</div>

</div>

<br>
</div>
</div>

