<%= render 'tabs' %>
<p id="notice"><%= notice %></p>


<h1><%= @rubrik.name %></h1>
<p>
  <%= @rubrik.desc %>
</p>
<b>Moderatoren:</b>
<i>
  <% @moderatoren.each do |m|%>
  <%= m.email%>,
  <% end%>
</i>


<% @rubrik.neuigkeiten.each_slice(1) do |row| %>
<ul class="unstyled" style="max-width:70em">
  <% row.each do |neuigkeit| %>
  <li>
    <%= render neuigkeit %>
  </li>
  <% end %>
</ul>
<% end %>



    <%= link_to 'Verwalten', verwalten_rubrik_path(@rubrik) %> |
    <%= link_to '<i class="icon-plus-sign"></i>'.html_safe+"Neuer Artikel", new_rubrik_neuigkeit_path(@rubrik) %> 


<%= toolbar_html(@toolbar_elements)%>

