
<ul class="breadcrumb">
<li>
<%= link_to "Neuigkeiten"  , rubriken_path%> <span class="divider">/</span></li>
<li><%= link_to @rubrik.name , rubrik_path(@rubrik)%></li>

</ul>
<p id="notice"><%= notice %></p>
<div class="row-fluid">
<span class="span12">
  <h1><%= @rubrik.name %></h1>

<p>

  <%= @rubrik.desc %>
</p>
<b>Moderatoren:</b><i>
<% @moderatoren.each do |m|%>
<%= m.email%>,
<% end%></i>
</span>
</div>

<% @rubrik.neuigkeiten.each_slice(2) do |row| %>
<div class="row-fluid">
<% row.each do |neuigkeit| %>
<div class="span6 min-width:13em;">
<%= render neuigkeit %>
</div>
<% end %>
</div>
<% end %>


<div class="row-fluid">
<span class="span12">
<%= link_to 'Verwalten', verwalten_rubrik_path(@rubrik) %> |

<%= link_to 'Back', rubriken_path %> | 
<%= link_to 'Destroy', @rubrik, method: :delete, data: { confirm: 'Are you sure?' } %>
</span></div>