<%= render 'tabs' %>
<p id="notice"><%= notice %></p>
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
<h1><%= @rubrik.name %></h1>
<p>
  <%= @rubrik.desc %>
</p>
<b>Moderatoren:</b>
<i>
  <% @moderatoren.each do |m|%>
  <%= m.email%>,
  <% end%>
</i>
</div></div>
<div class="row-fluid">

<div class="span9">
<% @neuigkeiten.each_slice(1) do |row| %>
<ul class="unstyled" style="max-width:70em">
  <% row.each do |neuigkeit| %>
  <li>
    <%= render neuigkeit %>
  </li>
  <% end %>
</ul>
<% end %>

</div>
<div class="span3">
<%= render 'calendars/calentries', :object=>@rubrik.calendar.calentries %>
</div>

</div>


<br>

<%= render 'layouts/pretty_toolbar', :object=> @toolbar_elements %>

</div>


