<%= render 'tabs' %>
<p id="notice"><%= notice %></p>


<h1><%= @rubrik.name %></h1>
<p>
  <%= @rubrik.desc %>
</p>
<b>Moderatoren:</b>
<i>
  <% @moderatoren.each do |m|%>
  <%= m.email%>,
  <% end%>
</i>


<% @neuigkeiten.each_slice(1) do |row| %>
<ul class="unstyled" style="max-width:70em">
  <% row.each do |neuigkeit| %>
  <li>
    <%= render neuigkeit %>
  </li>
  <% end %>
</ul>
<% end %>


<br>

<%= render 'layouts/pretty_toolbar', :object=> @toolbar_elements %>



