 <p id="notice"><%= notice %></p>
 
 <h1><%= @rubrik.name %></h1>
<table class="table">
<b>Moderatoren:</b><i>
<% @moderatoren.each do |m|%>
<tr><td>
<%= m.email%></td><td>Entfernen</td></tr>
<% end%></i>



<%= semantic_form_for @rubrik, :url=> url_for(:action => 'addmoderator',:id=>@rubrik.id) do |f| %>
<%= f.inputs do %>
<%= f.input :moderator, :as => :select, :collection => Hash[User.all.map{|b| [b.email,b.id]}] ,:label=>"Hinzufuegen"%>
<% end %>
<%= f.action :submit %>
<% end %>
<%= link_to 'Edit', edit_rubrik_path(@rubrik) %> |
<%= link_to 'Anzeigen', rubrik_path(@rubrik) %>